body{
    margin: 0;
    padding: 0;
    background-image: url('https://i.ibb.co/GnKW2z6/login-register.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#register .container #register-row #register-column #register-box {
    margin-top: 120px;
    max-width: 600px;
    height: 420px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #login-link {
    margin-top: -85px;
}

#register .container #register-row #register-column #register-box-next {
    margin-top: 120px;
    max-width: 600px;
    height: 490px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box-next #register-form {
    padding: 20px;
}
#register .container #register-row #register-column #register-box-next #register-form #login-link {
    margin-top: -85px;
}

.error {
    color: red;
}