body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.ibb.co/GnKW2z6/login-register.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 330px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.error {
    color: red;
}
