<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <title>Single beer</title>
</head>
<body style="background-color: cornsilk">

<div class="container">
    <div class="media pt-5">
        <div th:if="${beer.image!=null and not#lists.isEmpty(beer.image)}">
            <img th:src="@{'data:image/png;base64,'+${beer.generateBase64Image()}}" class="align-self-start mr-3 beerpage-img img-thumbnail" alt="">
        </div>
        <div th:if="${beer.image==null||#lists.isEmpty(beer.image)}">
            <img class="align-self-start mr-3 beerpage-img img-thumbnail"
                 src="https://averibeers.com/wp-content/uploads/2017/07/misshops-1-600x900.jpg"
                 alt="Generic placeholder image">
        </div>
        <div class="media-body pl-2">
            <!--<div class="cell">
                <img th:src="@{'data:image/png;base64,'+${beer.generateBase64Image()}}" width="200" height="200"/>
            </div>-->
            <h1 class="mt-0 pt-2" th:text="Beer + ' ' + name + ': ' + ${beer.name}">Beer name</h1>
            <h4 class="mt-0" th:text="Abv + ': ' + ${beer.abv} + '%'">Abv</h4>
            <h4 class="mt-0" th:text="Style + ': ' + ${beer.style.name}">Style</h4>
            <h4 class="mt-0" th:text="Country + ': ' +${beer.country.name}">Country</h4>
            <h4 class="mt-0" th:text="Brewery + ': ' + ${beer.brewery.name}">Brewery</h4>
            <h6 class="mt-0 pt-2" th:if="${beer.description!=null}" th:text="Description + ': ' + ${beer.description}">Description</h6>
            <div class="row pl-3 pt-2">Tags:&nbsp;
                    <h5 th:each="tag : ${beer.getTags()}" th:text="'#' + ${tag.name} + '&nbsp;'"></h5>
            </div>
            <h3 class="mt-0 pt-1" th:text="'Created by: ' + ${beer.getCreatedBy().username}"></h3>
            <!--
                    rating, tags
            -->
            <!--<p class="mt-0" th:text="${beer.description}">
                Description.
            </p>-->

                <div class="row pt-3 pl-3">
                    <form id="ratingForm" th:action="@{/beers/__${id}__/rate}" sec:authorize="isAuthenticated()" th:method="post">

                    <div class="rating">
                        <input onclick="document.getElementById('ratingForm').submit()" type="radio" id="star5"
                               th:name="rating" value="5"/><label class="full" for="star5"
                                                                  title="Awesome - 5 stars"></label>
                        <input onclick="document.getElementById('ratingForm').submit()" type="radio" id="star4"
                               th:name="rating" value="4"/><label class="full" for="star4"
                                                                  title="Pretty good - 4 stars"></label>
                        <input onclick="document.getElementById('ratingForm').submit()" type="radio" id="star3"
                               th:name="rating" value="3"/><label class="full" for="star3"
                                                                  title="Meh - 3 stars"></label>
                        <input onclick="document.getElementById('ratingForm').submit()" type="radio" id="star2"
                               th:name="rating" value="2"/><label class="full" for="star2"
                                                                  title="Kinda bad - 2 stars"></label>
                        <input onclick="document.getElementById('ratingForm').submit()" type="radio" id="star1"
                               th:name="rating" value="1"/><label class="full" for="star1"
                                                                  title="Sucks big time - 1 star"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-3 pl-3">
        <form th:action="@{/beers/__${beer.id}__/edit}" th:if="${beer.getCreatedBy().username.equals(#authentication.getName()) or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">

            <input type="submit" class="btn btn-outline-primary" value="Edit beer"/>
            <!-- <button type="button" class="btn btn-outline-info">Info</button>-->
        </form>

        <form th:action="@{/beers/__${beer.id}__/delete}" th:if="${beer.getCreatedBy().username.equals(#authentication.getName()) or #authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:method="post">
            <!--sec:authorize="hasAuthority('ADMIN')"-->
            <input type="submit" class="btn btn-outline-primary" value="Delete beer"/>
        </form>

        <form th:action="@{/beers/__${id}__/wishlist}" sec:authorize="isAuthenticated()" th:method="post">
            <input type="submit" class="btn btn-outline-primary" value="Add to wish list"/>
        </form>

        <form th:action="@{/beers/__${id}__/dranklist}" sec:authorize="isAuthenticated()" th:method="post">
            <input type="submit" class="btn btn-outline-primary" value="Add to drank list"/>
        </form>

    </div>
    <div class="pt-1">
        <a class="btn btn-primary btn-arrow-left" href="/beers">
            Back to beers </a>
<!--        <button type="button" class="btn btn-primary btn-arrow-left" href="/beers" >Back to beers</button>-->
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
