<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        #name { color: #ffffff; font-weight: 700; min-height: 40px;max-height: 40px}
        #abv { color: #ffffff; font-weight: 700}
        #stylebeer { color: #ffffff; font-weight: 700}
    </style>
    <title>All Beers</title>
</head>
<body style="background-color: #ffb333">
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand font-weight-bold" href="/">Home page </a>
        </div>
    </div>
</nav>
<div th:if="${beers.isEmpty()}">
    <!--<h2 th:text="#{beers.emptytitle}">No Beers</h2>-->
    <div class="container pt-5">
        <div class="navbar-translate">
            <a class="navbar-brand font-weight-bold" href="/beers">No beers available at the moment. Try again!</a>
        </div>
    </div>
</div>
<div th:unless="${beers.isEmpty()}">


    <div class="container pt-3">
            <form th:action="@{/beers}" id="filterCountry">
            <div class="row pl-3 pt-5">
            <span class="select pl-4">
                <select th:name="country">
                    <option value="" selected disabled>--Please choose an country--</option>
                    <option th:each="country : ${countries}"
                            th:value="${country.id}"
                            th:text="${country.getName()}" >Country</option>
                </select>
            </span>
                <span class="select pl-4">
                <select th:name="style">
                    <option value="" selected disabled>--Please choose an style--</option>
                    <option th:each="style : ${styles}"
                            th:value="${style.id}"
                            th:text="${style.getName()}">Country</option>
                </select>
            </span>
                <span class="select pl-4">
                <select th:name="sortBy">
                    <option value="">--Please choose a sort option--</option>
            <option value="name">--Name ascending--</option>
            <option value="named">--Name descending--</option>
            <option value="abv">--Abv ascending--</option>
            <option value="abvd">--Abv descending--</option>
                </select>
            </span>
                <span class="pl-3">
            <button type="submit" class="btn btn-light" style="height: 47px">Filter beers</button>
            </span>

            </div>
        </form>
        <div class="row pt-3" >
            <div class="col-lg-3 pb-4" th:each="beer : ${beers}">
                <div class="card" style="background-color: #000000">
                    <div th:if="${beer.image!=null and not#lists.isEmpty(beer.image)}">
                        <img th:src="@{'data:image/png;base64,'+${beer.generateBase64Image()}}"
                             class="card-img-top beer-image" alt="">
                    </div>
                    <div th:if="${beer.image==null||#lists.isEmpty(beer.image)}">
                        <img class="card-img-top beer-image"
                             src="https://averibeers.com/wp-content/uploads/2017/07/misshops-1-600x900.jpg"
                             alt="Generic placeholder image">
                    </div>
                    <div class="card-body">
                        <h5 th:text="${beer.name}" class="card-title text-center" id="name">Beer</h5>
                        <p th:text="Abv- + ${beer.abv} + '%'" class="card-text text-center" id="abv">ABV</p>
                        <p th:text="Style- + ${beer.style.name}" class="card-text text-center" id="stylebeer"><small class="text-muted">Style</small></p>
                        <div class="containerdiv">
                            <div>
                                <img src="https://image.ibb.co/jpMUXa/stars_blank.png" class="rating-img" alt="img">
                            </div>
                            <div class="cornerimage" th:style="|width:${(beer.getAverageRating()/5)*100}%|">
                                <img src="https://image.ibb.co/caxgdF/stars_full.png" class="rating-img" alt="">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="text-center">
                            <a th:href="@{/beers/__${beer.id}__}" class="btn btn-primary">View more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
