<!--
 =========================================================
 * Material Kit - v2.0.6
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/theme/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../static/theme/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Create beer
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/theme/assets/css/material-kit.css?v=2.0.6" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/theme/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="login-page sidebar-collapse">
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand font-weight-bold" href="/">
                Home page </a>

        </div>

    </div>
</nav>
<div class="page-header header-filter" style="background-image: url(https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login pt-3">
                    <form action="#" class="container" enctype="multipart/form-data" method="post" th:action="@{/beers/new}" th:object="${beer}">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title pb-2">Create new beer</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-group pl-3">

                                <input class="form-control" th:field="*{name}" placeholder="Beer name..." type="text">
                                <label class="error" th:errors="*{name}" />
                            </div>
                            <div class="input-group pl-3">

                                <input class="form-control" th:field="*{abv}" placeholder="Abv..." type="text">
                                <label class="error" th:errors="*{abv}" />
                            </div>
                            <div class="input-group pl-3">

                                <select th:field="*{styleId}" class="form-control">
                                    <option th:each="style : ${styles}"
                                            th:value="${style.id}"
                                            th:text="${style.getName()}">BeerStyle</option>
                                </select>
                            </div>
                            <div class="input-group pl-3">

                                <select th:field="*{breweryId}" class="form-control">
                                    <option th:each="brewery : ${breweries}"
                                            th:value="${brewery.id}"
                                            th:text="${brewery.getName()}">BeerBrewery</option>
                                </select>
                            </div>
                            <div class="input-group pl-3">

                                <select th:field="*{countryId}" class="form-control">
                                    <option th:each="country : ${countries}"
                                            th:value="${country.id}"
                                            th:text="${country.getName()}">BeerBrewery</option>
                                </select>
                            </div>
                            <div class="input-group pl-3">

                                <label th:text="#{beers.header.image}">Image</label>
                                <input type="file" name="file"/>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                        <div class="footer text-center pr-5">
                            <input class="btn btn-primary btn-link btn-wd btn-lg" type="submit" href="#pablo" value="Create beer"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<!--<script src="../static/theme/assets/js/core/jquery.min.js" type="text/javascript"></script>-->
<script src="/theme/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/theme/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/theme/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/theme/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/theme/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/theme/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/theme/assets/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
</body>

</html>
