<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <title>Edit beer</title>
</head>
<body style="background-color: cornsilk">

<form th:action="@{/beers/__${id}__/edit}" th:object="${beer}" th:method="post" enctype="multipart/form-data">

    <div class="container">
        <div class="media pt-5">
            <img class="align-self-start mr-3 beerpage-img img-thumbnail"
                 src="https://averibeers.com/wp-content/uploads/2017/07/misshops-1-600x900.jpg"
                 alt="Generic placeholder image">
            <div class="media-body pl-2">
                <!--<div class="cell">
                    <img th:src="@{'data:image/png;base64,'+${beer.generateBase64Image()}}" width="200" height="200"/>
                </div>-->

                <!--<h2 class="mt-0 pt-2" th:text="Beer + ' ' + name + ': ' + ${beer.name}">
                    <div class="input-group pl-3">
                        <input class="form-control" th:field="*{name}" placeholder="Beer name..." type="text">
                        <label class="error" th:errors="*{name}" />
                    </div>
                </h2>-->

                <div class="input-group pl-3">

                    <input class="form-control" th:field="*{name}" placeholder="Beer name..." type="text">
                    <label class="error" th:errors="*{name}" />
                </div>

                <div class="input-group pl-3 pt-3">

                    <input class="form-control" th:field="*{abv}" placeholder="Abv..." type="text">
                    <label class="error" th:errors="*{abv}" />
                </div>

                <h4 class="mt-0" >
                    <div class="input-group pl-3 pt-3">

                        <select th:field="*{styleId}" class="form-control">
                            <option th:each="style : ${styles}"
                                    th:value="${style.id}"
                                    th:text="${style.getName()}">BeerStyle</option>
                        </select>
                    </div>
                </h4>

                <h4 class="mt-0" >
                    <div class="input-group pl-3 pt-2">
                        <select th:field="*{countryId}" class="form-control">
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.getName()}">BeerCountry</option>
                        </select>
                    </div>
                </h4>

                <h4 class="mt-0" >
                    <div class="input-group pl-3 pt-2">
                        <select th:field="*{breweryId}" class="form-control">
                            <option th:each="brewery : ${breweries}"
                                    th:value="${brewery.id}"
                                    th:text="${brewery.getName()}">BeerBrewery</option>
                        </select>
                    </div>
                </h4>

                <div class="input-group pl-3 pt-2">

                    <input class="form-control" th:field="*{description}" placeholder="Description..." type="text">
                    <label class="error" th:errors="*{description}" />
                </div>

                <div class="input-group pl-3 pt-3">
                    <label th:text="#{beers.header.image}">Browse image</label>

                    <input type="file" name="file" class="pl-3"/>
                    <br/><br/>
                </div>

                <div class="pt-3 pl-3" >
                    <input class="btn btn-secondary" type="submit" href="#pablo" value="Edit beer"/>
                </div>


            </div>
        </div>
    </div>
</form>
</body>
</html>
