<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <title>Edit user</title>
</head>
<body style="background-color: cornsilk" sec:authorize="hasRole('ROLE_ADMIN')">

<form th:action="@{/admin/__${id}__/edit}" th:object="${user}" th:method="post" enctype="multipart/form-data">

    <div class="container">
        <div class="media pt-5">
            <div class="media-body pl-2">
                <div>
                    <h2 th:text="User + ': ' + ${user.username}" class="card-text">Username</h2>
                </div>
                <br/>
                <div class="input-group pl-3 pt-3">
                    <input class="form-control" th:field="*{firstName}" placeholder="First Name..." type="text">
                    <label class="error" th:errors="*{firstName}"/>
                </div>
                <div class="input-group pl-3 pt-3">
                    <input class="form-control" th:field="*{lastName}" placeholder="Last Name..." type="text">
                    <label class="error" th:errors="*{lastName}"/>
                </div>
                <div class="input-group pl-3 pt-3">
                    <input class="form-control" th:field="*{email}" placeholder="Email..." type="text">
                    <label class="error" th:errors="*{email}"/>
                </div>
                <div class="input-group pl-3 pt-3">
                    <label th:text="#{users.header.image}">Browse image</label>

                    <input type="file" name="file" class="pl-3"/>
                    <br/><br/>
                </div>
                <div class="pt-3 pl-3">
                    <input class="btn btn-secondary" type="submit" href="#pablo" value="Edit"/>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
