<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="theme/assets/css/material-kit.css" rel="stylesheet" />
    <title>Home Page</title>
</head>
<body>

<!--<h2 th:text="#{home.welcome}">Hello World (design)!</h2>-->

<form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
    <!--<input type="submit" value="Login"/>-->
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('theme/assets/img/beer1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <h1>Beer Tag</h1>
                        <h3 class="title text-center">Welcome to the world of beers</h3>
                    </div>
                </div>
            </div>
            <div class="brand text-center">
                <button class="btn btn-warning">Login</button>
                <a href="/register" class="btn btn-warning">Register</a>
                <!--<button class="btn btn-warning" href="/register">Register</button>-->
                <br/>
                <a href="/beers" class="btn btn-warning" id="browsebeers">Browse our beers</a>
                <!--<button class="btn btn-warning" id="browsebeers" >Browse our beers</button>-->

            </div>
        </div>
    </div>


</form>

<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('theme/assets/img/beer1.jpg')">
        <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand font-weight-bold" href="/">
                        Home page </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/profile" class="btn btn-warning">Profile</a>
                        </li>
                        <li class="nav-item">
                           <!-- <a class="navbar-brand font-weight-bold" href="/">
                                LOGOUT </a>-->
                            <button class="btn btn-warning">Logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <h1>Beer Tag</h1>
                        <h3 class="title text-center">Welcome to the world of beers</h3>
                    </div>
                </div>
            </div>

            <div class="brand text-center">
                <a href="/beers" class="btn btn-warning" id="browsebeerslogout">Browse our beers</a>
                <br/>
                <!--<button class="btn btn-warning">Logout</button>-->
                <a href="/beers/new" class="btn btn-warning">Create new beer</a>
                <br/>
                <!--<a href="/profile" class="btn btn-warning">Profile</a>
                <br/>-->
            </div>
        </div>
    </div>
</form>

</body>
</html>
