<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>
        Profile Information
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="theme/assets/css/material-kit.css?v=2.0.6" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="theme/assets/demo/demo.css" rel="stylesheet"/>
</head>

<body class="profile-page sidebar-collapse" sec:authorize="isAuthenticated()">
<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('theme/assets/img/beer1.jpg')"></div>
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand font-weight-bold" href="/">
                Home page </a>

        </div>

    </div>
</nav>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <!--<img th:src="@{'data:image/png;base64,'+${user.generateBase64Image()}} " alt="Circle Image"
                                 class="img-raised rounded-circle img-fluid">-->
                            <div th:if="${user.image!=null}">
                                <img th:src="@{'data:image/png;base64,'+${user.generateBase64Image()}} " alt="Circle Image"
                                     class="img-raised rounded-circle img-fluid">
                            </div>
                            <div th:if="${user.image==null}">
                                <img class="img-raised rounded-circle img-fluid"
                                     src="/theme/assets/img/faces/blank-head-profile-pic-for-a-man.jpg"
                                     alt="Circle Image">
                            </div>
                        </div>
                        <div class="name">
                            <h2 class="title" th:text="${user.firstName + ' ' + user.lastName}">Name</h2>
                            <h4 th:text="User + ': ' + ${user.username}" class="card-text">Username</h4>
                            <h4 th:text="Email + ': ' + ${user.email}" class="card-text">Email</h4>
                            <a th:href="@{/admin}" class="btn btn-just-icon btn-link btn-user-circle" sec:authorize="hasRole('ROLE_ADMIN')"><i
                                    class="fa fa-user-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#top-3" role="tab" data-toggle="tab">
                                    <i class="material-icons">list</i> Top 3
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#wish-list" role="tab" data-toggle="tab">
                                    <i class="material-icons">list</i> Wish Beer
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#drank-list" role="tab" data-toggle="tab">
                                    <i class="material-icons">list</i> Drank Beer
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane text-center gallery" id="wish-list">
                    <div class="row">
                        <div class="col-lg-3 ml-auto mr-auto" th:each="beerWish : ${beerWishList}">
                            <div class="card">
                                <div th:if="${beerWish.image!=null}">
                                    <img th:src="@{'data:image/png;base64,'+${beerWish.generateBase64Image()}}"
                                         class="card-img-top beer-image" alt="">
                                </div>
                                <div th:unless="${beerWish.image!=null}">
                                    <img class="card-img-top beer-image"
                                         src="https://averibeers.com/wp-content/uploads/2017/07/misshops-1-600x900.jpg"
                                         alt="Generic placeholder image">
                                </div>
                                <div class="card-body">
                                    <h5 th:text="${beerWish.name}" class="card-title text-center" style="min-height: 45px;max-height: 45px">Beer</h5>

                                    <div class="text-center">
                                        <a th:href="@{/beers/__${beerWish.id}__}" class="btn btn-primary">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="drank-list">
                    <div class="row">
                        <div class="col-lg-3 ml-auto mr-auto" th:each="beerDrank : ${beerDrankList}">
                            <div class="card">
                                <div th:if="${beerDrank.image!=null}">
                                    <img th:src="@{'data:image/png;base64,'+${beerDrank.generateBase64Image()}}"
                                         class="card-img-top beer-image" alt="">
                                </div>
                                <div th:unless="${beerDrank.image!=null}">
                                    <img class="card-img-top beer-image"
                                         src="https://averibeers.com/wp-content/uploads/2017/07/misshops-1-600x900.jpg"
                                         alt="Generic placeholder image">
                                </div>
                                <div class="card-body">
                                    <h5 th:text="${beerDrank.name}" class="card-title text-center" style="min-height: 45px;max-height: 45px">Beer</h5>

                                    <div class="text-center">
                                        <a th:href="@{/beers/__${beerDrank.id}__}" class="btn btn-primary">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active mb-auto gallery" id="top-3">
                    <div class="row">
                        <div class="col-lg-3 ml-auto mr-auto" th:each="beerTop : ${beerTopList}">
                            <div class="card">
                                <h3 th:text="'#' + ${beerTopStat.index + 1}" class="card-title text-center">
                                    Place</h3>
                                <div th:if="${beerTop.image!=null}">
                                    <img th:src="@{'data:image/png;base64,'+${beerTop.generateBase64Image()}}"
                                         class="card-img-top beer-image" alt="">
                                </div>
                                <div th:unless="${beerTop.image!=null}">
                                    <img class="card-img-top beer-image"
                                         src="https://averibeers.com/wp-content/uploads/2017/07/misshops-1-600x900.jpg"
                                         alt="Generic placeholder image">
                                </div>
                                <div class="card-body">
                                    <h5 th:text="${beerTop.name}" class="card-title text-center " style="min-height: 45px;max-height: 45px">Beer</h5>

                                    <div class="text-center">
                                        <a th:href="@{/beers/__${beerTop.id}__}" class="btn btn-primary">View
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="theme/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="theme/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="theme/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="theme/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="theme/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="theme/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="theme/assets/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>