<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/style-register.css}" href="../static/style-register.css"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div id="register">
    <div class="container">
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-6">
                <div id="register-box-next" class="col-md-12">
                    <form id="register-form" class="form" th:action="@{/register-nextstep}" th:object="${user}"
                          th:method="post" enctype="multipart/form-data">
                        <h3 class="text-center text-info">Registration</h3>
                        <h6 class="text-center text-info">Next Step</h6>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control"
                                   th:field="*{email}" placeholder="email@email.com..."/>
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="text-info">First Name:</label><br>
                            <input type="text" name="firstName" id="firstName" class="form-control"
                                   th:field="*{firstName}" placeholder="first name..."/>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="text-info">Last Name:</label><br>
                            <input type="text" name="lastName" id="lastName" class="form-control"
                                   th:field="*{lastName}" placeholder="last name..."/>
                        </div>
                        <div>
                            <label for="image" class="text-info">Image:</label>
                            <input type="file" name="file" id="image"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>