<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/style-register.css}" href="../static/style-register.css"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div id="register">
    <div class="container">
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-6">
                <div id="register-box" class="col-md-12">
                    <p>
                        <i th:if="${error != null}" th:text="${error}" class="error"></i>
                    </p>
                    <form id="register-form" class="form" th:action="@{/register}" th:object="${user}" method="post">
                        <h3 class="text-center text-info">Registration</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" th:field="*{username}" placeholder="username..."/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" th:field="*{password}" placeholder="password..."/>
                        </div>
                        <div class="form-group">
                            <label for="confirm password" class="text-info">Confirm Password:</label><br>
                            <input type="password" name="confirm password" id="confirm password" class="form-control" th:field="*{confirmPassword}" placeholder="confirm password..."/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Next Step">
                        </div>
                        <br/><br/>
                        <div id="login-link" class="text-right">
                            <a th:href="@{/login}" class="text-info">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>